body, html{
    background-color: aqua;
    height: 100%;
}

.title {
    text-align: center;
    display:grid;
    justify-content: center;
}
#img2art{
    margin-top:10px;
    font-size:40px;
    margin-bottom:12px;
}
#subtext {
    width: 700px;
    margin-bottom:15px;
}

.slidecontainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#cluster-text{
    margin:0px;
    padding-bottom:5px;
}

.super-container{
    display:flex;
    justify-content: center;
    margin-top:-10px;
}

#img-container, #dropzone-container {
    place-self: center;
    text-align: center;
    width: 700px;
    height: 500px;
}

#img-container, #dropzone-container, .hex-container{
    margin: 10px;
    background-color:slategray;
    border:3px solid black;
}
#myDropzone{
    border-color:aliceblue;
    background-color:slategray;
}

#uploaded-img{
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio and fit within the container */
}

.submit-button, .reprocess-button {
    text-align: center;
    margin-top: 10px;
}

.btn-group button {
    display: block;
    cursor: pointer;
    margin: 10px;
    background-color: lightgray;
    color: black;
    border: 3px solid black;
    padding: 10px 10px;
    width: 110px;
}

.btn-group button:disabled {
    opacity: 0.6;
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
}

.hex-container {
    display: grid;
    column-gap: 5px;
    list-style-type: none;
    width: 110px;
    padding-left: 9px;
}
#No-Color {
    display: flex; /* Use flexbox to align items inline */
    align-items: center; /* Center align items vertically */
    gap: 20px; /* Space between items, adjust as needed */
    margin-bottom: 0px; /* Space below the No-Color section */
    padding: 0; /* Remove padding if needed */
}

#No-Color h5 {
    margin: 0; /* Remove default margin from h5 elements */
    padding: 0; /* Remove padding if needed */
    text-decoration: underline; /* Apply underline style */
}

.hex-entry {
    display: flex;
    align-items: center; /* Center align items vertically */
    padding:0px;
}

.hex-number {
    margin-right: 10px; /* Space between number and color */
    width: 20px;
}

.color {
    display: flex;
    align-items: center; /* Align color boxes vertically */
    width: 100%; /* Ensure color section takes up full width of .hex-entry */
    column-gap: 5px;
}

.hex-color {
    width: 16px;
    height: 16px;
    border: 1px solid black; /* Optional: border around color boxes */
}
