body, html{
    background-color: aqua;
    height: 100%;
}

.title {
    text-align: center;
}

.slidecontainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.super-container{
    display:flex;
    justify-content:center;
}
#img-container, #dropzone-container {
    place-self: center;
    text-align: center;
    width: 700px;
    height: 500px;
}

#img-container, #dropzone-container, .hex-container{
    margin: 10px;
    background-color:slategray;
    border:3px solid black;
}
#myDropzone{
    border-color:aliceblue;
    background-color:slategray;
}

#uploaded-img{
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio and fit within the container */
}

.submit-button{
    text-align: center;
    margin-top: 20px;
}

.btn-group button {
    display: block;
    cursor: pointer;
    margin: 10px;
    background-color: lightgray;
    color: black;
    border: 3px solid black;
    padding: 10px 10px;
    width: 110px;
}
.hex-container {
    width: 110px;
}
