<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <!--Load Dropzone and style it-->
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin-top: 5%; margin-bottom: 5%; margin-left: 10%; margin-right: 10%; min-height: 400px') }}
</head>
<body>
    <div class="title">
        <h1 id="img2art">Image2Art</h1>
        <div id="subtext">
            <h3>Copy your image to a color-by-number template with mapped hex-codes that can be used for mural painting or coloring books!</h3>
        </div>
    </div>
    <div class="super-container">
        {% if image_names %}
            <div class="btn-group">
                <button id="full-screen">Full Screen</button>
                <button id="colors">Toggle Colors</button>
                <button id="outlines">Toggle Lines</button>
                <button id="numbers">Toggle No.</button>
                    <!-- Button to clear session and reload -->
                <form action="{{ url_for('clear_session') }}" method="POST">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <button type="submit">New Image</button>
                </form>
            </div>
            <div class="images" id="img-container">
                <img src ="{{ url_for('static', filename='uploads/' + image_names[4]) }}" id="uploaded-img">
            </div>
            <div class="hex-container">
                <div id="No-Color">
                    <h5>No.</h5><h5>Color</h5>
                </div>
                {% for hex_code in hex_values %}
                <li class="hex-entry">
                    <div class="hex-number">{{ loop.index }}</div>
                    <div class="color">
                        <div class="hex-color" style="background-color: {{ hex_code }};"></div>
                        <div class="hex-code">{{ hex_code }}</div>
                    </div>
                </li>
                {% endfor %}
            </div>
        {% else %}
            <div id="dropzone-container">
                <!-- Create form and declare the action of the form which is viewing the styled dropzone in index -->
                <form action="{{ url_for('index') }}" class="dropzone" id="myDropzone" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <!-- Hidden input to store the slider value -->
                    <input type="hidden" name="n_clusters" id="n_clusters" value="10">
                </form>
                <!--Renders the configuration and shows text: "Drop files here or click to upload"-->
                {{ dropzone.load_js() }}
                {{ dropzone.config() }}
            </div>
        {% endif %}
    </div>

    
    <div class="slidecontainer">
        <p id="cluster-text">Number of Color Groups: <span id="clusterNum"></span></p>
        <input type="range" min="2" max="20" value="10" class="slider" id="mySlider" name="n_clusters">
    </div>
    {% if not image_names %}
        <div class="submit-button">
            <button id="submit-all">Submit</button>
        </div>
    {% else %}
        <div class="reprocess-button">
            <button id="reprocess">Reprocess</button>
        </div>
    {% endif %}
   
  

    {% block javascript %}
    <script>
        var slider = document.getElementById("mySlider");
        var number = document.getElementById("clusterNum");
        var n_clusters = document.getElementById("n_clusters");
        number.innerHTML = slider.value;

        slider.oninput = function() {
            number.innerHTML = this.value;
            n_clusters.value = this.value;
        }
        
        
        if ('{{ image_names | length }}' == 0){
            // Dropzone configuration
            Dropzone.options.myDropzone = {
                autoProcessQueue: false,
                init: function() {
                    var myDropzone = this;

                    // Force refresh after successful upload
                    myDropzone.on("success", function(file, response) {
                        location.reload();
                    });

                    document.getElementById("submit-all").addEventListener("click", function() {
                        myDropzone.processQueue();
                    });
                }
            }
        } else {
            document.querySelector('#reprocess').addEventListener('click', function() {
                var sliderValue = document.getElementById('mySlider').value;
                var form = document.createElement('form');
                form.method = 'POST';
                form.action = '{{ url_for("reprocess_image") }}';
                var hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = 'n_clusters';
                hiddenField.value = sliderValue;
                form.appendChild(hiddenField);
                document.body.appendChild(form);
                form.submit();
            });
            let imgNames = JSON.parse('{{ image_names | tojson }}');
            
            // names of the images
            let segmented       = imgNames[0];
            let coloredOutline  = imgNames[1];
            let whiteOutline    = imgNames[2];

            let num_segmented      = imgNames[3];
            let num_coloredOutline = imgNames[4];
            let num_whiteOutline   = imgNames[5];

            // entire source URLs
            let segmentedSrc      = "{{ url_for('static', filename='uploads/') }}" + imgNames[0];
            let coloredOutlineSrc = "{{ url_for('static', filename='uploads/') }}" + imgNames[1];
            let whiteOutlineSrc   = "{{ url_for('static', filename='uploads/') }}" + imgNames[2];

            let num_segmentedSrc      = "{{ url_for('static', filename='uploads/') }}" + imgNames[3];
            let num_coloredOutlineSrc = "{{ url_for('static', filename='uploads/') }}" + imgNames[4];
            let num_whiteOutlineSrc   = "{{ url_for('static', filename='uploads/') }}" + imgNames[5];
            
            function toggleLines() {
                let uploadedImg = document.getElementById("uploaded-img");
                let currentSrc  = uploadedImg.src;

                if      (currentSrc.endsWith(segmentedSrc))       uploadedImg.src = coloredOutlineSrc;
                else if (currentSrc.endsWith(coloredOutlineSrc))  uploadedImg.src = segmentedSrc;
                
                else if (currentSrc.endsWith(num_segmentedSrc))   uploadedImg.src = num_coloredOutlineSrc;
                else if (currentSrc.endsWith(num_coloredOutline)) uploadedImg.src = num_segmentedSrc
                
                updateButtonStates();// Call updateButtonStates to update the button states
            }

            function toggleColors() {
                let uploadedImg = document.getElementById("uploaded-img");
                let currentSrc  = uploadedImg.src;

                if      (currentSrc.endsWith(coloredOutlineSrc))     uploadedImg.src = whiteOutlineSrc;
                else if (currentSrc.endsWith(whiteOutlineSrc))       uploadedImg.src = coloredOutlineSrc;
                
                else if (currentSrc.endsWith(num_coloredOutlineSrc)) uploadedImg.src = num_whiteOutlineSrc;
                else if (currentSrc.endsWith(num_whiteOutlineSrc))   uploadedImg.src = num_coloredOutlineSrc;
        
                updateButtonStates(); // Call updateButtonStates to update the button states
            }

            function toggleNumbers() {
                let uploadedImg = document.getElementById("uploaded-img");
                let currentSrc  = uploadedImg.src;

                if      (currentSrc.endsWith(num_coloredOutlineSrc)) uploadedImg.src = coloredOutlineSrc;
                else if (currentSrc.endsWith(coloredOutlineSrc))     uploadedImg.src = num_coloredOutlineSrc;

                else if (currentSrc.endsWith(num_whiteOutlineSrc))   uploadedImg.src = whiteOutlineSrc;
                else if (currentSrc.endsWith(whiteOutlineSrc))       uploadedImg.src = num_whiteOutlineSrc;

                else if (currentSrc.endsWith(num_segmentedSrc))      uploadedImg.src = segmentedSrc;
                else if (currentSrc.endsWith(segmentedSrc))          uploadedImg.src = num_segmentedSrc;
            }
            
            let uploadedImg = document.getElementById("uploaded-img");
            function fullScreen() {
                if(uploadedImg.requestFullscreen) {
                    uploadedImg.requestFullscreen();
                } else if (euploadedImg.webkitRequestFullscreen) { // for different browsers
                    uploadedImg.webkitRequestFullscreen();
                } else if (uploadedImg.msRequestFullscreen) {
                    uploadedImg.msRequestFullscreen();
                }
            }

            let outlinesButton = document.querySelector('#outlines');
            let colorsButton = document.querySelector('#colors');
            let numbersButton = document.querySelector('#numbers');
            let fullScreenButton = document.querySelector('#full-screen');

            fullScreenButton.addEventListener('click', () => fullScreen());
            
            outlinesButton.addEventListener('click', () => {
                if (!outlinesButton.disabled) toggleLines();
            });
            colorsButton.addEventListener('click', () => {
                if (!colorsButton.disabled) toggleColors();
            });
            numbersButton.addEventListener('click', () => {
                if (!numbersButton.disabled) toggleNumbers();
            });

            // Initialize button states on page load
            document.addEventListener('DOMContentLoaded', () => {
                if ('{{ image_names | length }}' > 0) {
                    updateButtonStates();
                }
            });

            function updateButtonStates() {
                let uploadedImg = document.getElementById("uploaded-img");
                let currentSrc = uploadedImg.src;

                // Update Lines Button
                if (currentSrc.endsWith(segmentedSrc)      || 
                    currentSrc.endsWith(coloredOutlineSrc) ||
                    currentSrc.endsWith(num_segmentedSrc)  || 
                    currentSrc.endsWith(num_coloredOutline)) {
                    document.querySelector('#outlines').disabled = false;
                } else {
                    document.querySelector('#outlines').disabled = true;
                }

                // Update Colors Button
                if (currentSrc.endsWith(coloredOutlineSrc)     ||
                    currentSrc.endsWith(whiteOutlineSrc)       || 
                    currentSrc.endsWith(num_coloredOutlineSrc) ||
                    currentSrc.endsWith(num_whiteOutlineSrc)) {
                    document.querySelector('#colors').disabled = false;
                } else {
                    document.querySelector('#colors').disabled = true;
                }
            }
        }

    </script>
    {% endblock %}

</body>
</html>