<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <!--Load Dropzone and style it-->
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin-top: 5%; margin-bottom: 5%; margin-left: 10%; margin-right: 10%; min-height: 400px') }}

</head>
<body>
    {% if image_names %}
    <div class="results">
        <h2>Results</h2>
        <div class="images">
            <ul> 
                {% for image in image_names %}
                    <li> <img src ="{{ url_for('static', filename='uploads/' + image) }}"></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <h1>Upload Your Image</h1>
    <!-- Create form and declare the action of the form which is viewing the styled dropzone in index -->
    <form action="{{ url_for('index') }}" class="dropzone" id="myDropzone" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <!-- Hidden input to store the slider value -->
        <input type="hidden" name="n_clusters" id="n_clusters" value="10">
    </form>
    <!--Renders the configuration and shows text: "Drop files here or click to upload"-->
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}

    <div class="slidecontainer">
        <p>Number of Color Groups: <span id="clusterNum"></span></p>
        <input type="range" min="2" max="20" value="10" class="slider" id="mySlider">
    </div>

    <div class="submit-button">
        <button id="submit-all">Submit</button>
    </div>
    {% endif %}

    <script>
        var slider = document.getElementById("mySlider");
        var number = document.getElementById("clusterNum");
        var n_clusters = document.getElementById("n_clusters");
        number.innerHTML = slider.value;

        slider.oninput = function() {
            number.innerHTML = this.value;
            n_clusters.value = this.value;
        }

        // Dropzone configuration
        Dropzone.options.myDropzone = {
            autoProcessQueue: false,
            init: function() {
                var myDropzone = this;

                // Bind button click event to process the Dropzone queue
                document.getElementById("submit-all").addEventListener("click", function() {
                    myDropzone.processQueue();
                });

                // Force refresh after successful upload
                myDropzone.on("success", function(file, response) {
                    location.reload();
                });
            }
        };
    </script>

</body>
</html>