<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <!--Load Dropzone and style it-->
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px') }}

    <style>
        .slidecontainer{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center">Upload Your Image</h1>
    <!--Create form and declare the action of the form which is viewing the styled dropzone in index-->
    {{ dropzone.create(action='index')}}
    <!--Renders the configuration and shows text: "Drop files here or click to upload"-->
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}

    <div class="slidecontainer">
        <input type="range" min="2" max="50" value="25" class="slider" id="mySlider">
        <p>Number of Color Groups: <span id="clusterNum"></span></p>
    </div>


    <script>
        var slider = document.getElementById("mySlider");
        var number = document.getElementById("clusterNum");
        number.innerHTML = slider.value;

        slider.oninput = function() {
            number.innerHTML = this.value;
        }
    </script>

</body>
</html>